@import url("12-bool-layout.css");
@import url("12-bool-layout-responsive.css");

/*-----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

main{
    background-color: white;
}

.box{
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px 25px;
}

.box__nested{
    background-color: #00e165;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px 14px;
}

#es-1-pt-2{
    margin: 25px 0;
}

#es-1-pt-2 .box,
#es-2 .box{
    height: 50.4px;
}

#es-2{
    padding-bottom: 25px;
}